* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: mplus-light-japanese, mplus-light-latin, sans-serif;
  font-size: 17.5px;
  line-height: 1.6;
  text-align: center;
}
