.main {
  &-section {
    padding-bottom: 2em;
    padding-top: 2em;

    &-heading {
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1em;
      margin-top: 1em;
      text-align: left;
    }
  }
}
